/* Write your CSS here */
.bg-con {
  background-color: white;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-con {
  background-image: linear-gradient(#2b2c49, #b5b9ff);
  padding: 20px;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
